#top_nav_pic .allfenlei_li{
	float: left;
}
#top_nav_pic .allfenlei_li li{
	float: none;
	/*background: #299aef;*/
	width: 180px;
}
#top_nav_pic .allfenlei_li a{
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	display: block;
	background: #299aef;
	padding: 0 63px 0 45px;
	height: 40px;
	line-height: 40px;
	float: none;
}
.allfenlei_li div{
	position: absolute;
	left: 0;
	float: left;
	width: 24px;
	height: 24px;
	margin-top: 8px;
}
#allfenlei_second .fenleiinfo{
	display: none;
	position: absolute;
	left: 180px;
	z-index: 100;
	width: 600px;
	height: 300px;
	background: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding: 30px;
}
.fenleiinfo a{
	font-size: 16px;
	color: #666666;
}
#top_nav_pic{
	width: 1190px;
	position: relative;
	height: 400px;
	margin: 0 auto;
}
#allfenlei_second{
	position: relative;
}
#nav_pic_img ul li{
	width: 750px;
	height: 400px;
	overflow: hidden;
	position: absolute;
	left: 180px;
	top: 0;
}
#top_nav_pic li{
	float: left;
}
#nav_pic_nav{
	z-index: 10;
	position: absolute;
	bottom: 20px;
	left: 430px;
}
#top_nav_pic #nav_pic_nav li{
	width: 25px;
	height: 25px;
	background: black;
	margin: 10px;
	border-radius: 50%;
}
#top_nav_pic #nav_pic_nav .active{
	width: 25px;
	height: 25px;
	margin: 10px;
	border-radius: 50%;
	background: red;
}
#nav_pic_news{
	width: 260px;
	height: 350px;
	/*background: pink;*/
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
}
.zixun{
	font-size: 16px;
	color: #333333;
	line-height: 35px;
	margin-left: 10px;
}
#zixun_tel{
	width: 145px;
	height: 34px;
	background: url(../img/nav_pic_tel.gif) no-repeat;
	float: right;
}
#zixun_ul{
	height: 230px;
}
#zixun_ul li{
	width: 55px;
	height: 100px;
}
#nav_pic_news #zixun_ul li a{
	display: block;
	margin-top: 80px;
}
#zixun,#gonggao{
	border-bottom: 1px solid #CCCCCC;
}
#gonggao{
	width: 260px;
}
#nav_pic_news ul li a{
	font-size: 11px;
	color: #5e5e5e;
	margin-left: 7px;
}
#zixun_ul_news ul li a{
	line-height: 25px;
}
#zixun_ul_news li{
	float: none;
	list-style: circle;
	margin-left: 35px;
}
#gonggao a{
	margin-top: 10px;
	font-size: 11px;
	color: #e72418;
	float: right;
}
#special_pro{
	width: 1190px;
	margin: 10px auto;
}
#xianshiqg{

	float: left;
	display: block;
	width: 180px;
	height: 150px;
	background: url(../img/clock.png) no-repeat;
}
#special_pro{
	height: 150px;
	
}
#special_pro ul{
	float: left;
}
#special_pro ul li{
	float: left;
}
#hotpro{
	border-top: 2px solid #fc4e4d;
	height: 400px;
	width: 1190px;
	margin: 30px auto;
	/*background: pink;*/
}
#hotpro_left{
	width: 180px;
	height: 400px;
	float: left;
}
#hotpro_left_top{
	height: 85px;
	background: #fc4e4d;
	text-align: center;
}
#hotpro_left_top span{
	line-height: 85px;
	font-size: 19px;
	color: #FFFFFF;
}
#hotpro_left_bottom img{
	width: 100%;
}
#hotpro_right{
	width: 1010px;
	float: left;
}
#hotpro_right ul li{
	float: left;
	width: 200px;
	height: 200px;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	text-align: center;
}
#hotpro_right ul li h3{
	font-size: 12px;
	color: #5e5e5e;
	display: block;
}
#hotpro_right ul li img{
	margin: 6px auto;
}
#hotpro_right ul li span{
	color: #e72418;
	font-size: 14px;
}
#tbt{
	width: 1190px;
	height: 100px;
	margin: 30px auto;
}
